/* Stylsheet for Calculator */



/* Variables */

:root {

}



/* General Styles */

body {
  height: 100vh;
  min-width: 375px;
  max-width: 1440px;
  font-family: League-Spartan, Roboto, sans-serif;
  font-weight: 700;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.container {
  width: 350px;

}


/* Calculator Header */

.header {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.header, h3, p {
  margin: 0;
  justify-items: left;
}

/* THEME SELECTOR */
.theme-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 74px;
  height: 32px;
  justify-items: right;
  grid-column-start: 3;

}

.grid-item {
  font-size: 10px;

}

#themeText {
  grid-column-start: 3;
  grid-row-start: 1;
  justify-self: center;

}

#theme-title {
  grid-column-start: 1;
  grid-row-start: 2;

}

/* RADIO BUTTON STYLING for THEME SELECTOR */

.toggle {
  background: #efefef;
  border-radius: 30px;
  display: inline-flex;
  position: relative;
  width: 36px;
  height: 14px;
  grid-column-start: 3;
  grid-row-start: 2;
}

input[type=radio] {
  display: none;
}

label {
  width: 12px;
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 5;
  cursor: pointer;
}

.selector {
  height: 11px;
  width: 11px;
  background: magenta;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 1;
  transition: left 0.25s ease-in-out;
}

.theme1:checked ~ .selector {
  left: 2px;
}

.theme2:checked ~ .selector {
  left: 13px;
}

.theme3:checked ~ .selector {
  left: 24px;
}


/* Calculator Display */

.display {
    font-size: 32px;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Calculator Buttons */

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  

}

.calcBtn {
  cursor: pointer;
  margin: 10px;
  height: 70%;
  width: 80%;

}


#reset {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 90%;
}

#equal {
  grid-column-start: 3;
  grid-column-end: 5;
  width: 90%;
}


/* Attribution */

.attribution {
  margin-top: 50px;
  font-size: 11px;
  font-weight: normal;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
